<div class="card">
    <div class="card-body text-center">
        <b> <i>Jupiter</i> </b>
    </div>
    <ul class="list-group">
        <li class="list-group-item d-inline-flex">
            <div class="col-3">
                <b>Age</b>
            </div>
            <div class="col d-flex">
                <span class="mx-auto">1123</span>
            </div>
        </li>
        <li class="list-group-item d-inline-flex">
            <div class="col-3">
                <b>Type</b>
            </div>
            <div class="col d-flex">
                <span class="mx-auto">1123</span>
            </div>
        </li>
        <li class="list-group-item d-inline-flex">
            <div class="col-3">
                <b>Mass</b>
            </div>
            <div class="col d-flex">
                <span class="mx-auto">1123</span>
            </div>
        </li>
    </ul>
    <div class="card-body">
        <div class="col-12">
            <button class="btn btn-warning w-100">Edit</button>
        </div>
        <div class="col-12 mt-3">
            <button class="btn btn-danger w-100">Delete</button>
        </div>
    </div>
</div>